.artistHeader {
    display: flex;
    flex-direction: row;
    margin: 20px;
    background: linear-gradient(180deg, rgb(51, 51, 51) 0%, black 100%);
}

.artistHeader img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.artistInfo {
    margin-left: 20px;
}

.popularSongs {
    display: flex;
    flex-direction: column;
}

.popularSongsTable img {
    width: 75px;
    height: 75px
}


.popularSongsTable td {
    width: 22.5%;
    text-align: center;
}


.discog {
    display: flex;
    flex-direction: row;  
}

.albumInfo {
    display: flex;
    flex-direction: column;
    margin: 20px;
    background-color: rgb(31, 31, 31);
    align-items: center;
    text-align: center;
    width: 12%;
   
}

.albumInfo img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

@media only screen and (max-width: 1080px) {
    .albumInfo {
        width: 20%;
    }
}